In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from sklearn.module_section import train_test_split 

df=pd.read_csv("C:\\Users\\surya\\OneDrive\\Desktop\\Jupitor\\Linear Regrssion\\Dataset\\Salary_dataset.csv")
X=df.iloc[:,0]
y=df.iloc[:,1]
X,y

(0      1.2
 1      1.4
 2      1.6
 3      2.1
 4      2.3
 5      3.0
 6      3.1
 7      3.3
 8      3.3
 9      3.8
 10     4.0
 11     4.1
 12     4.1
 13     4.2
 14     4.6
 15     5.0
 16     5.2
 17     5.4
 18     6.0
 19     6.1
 20     6.9
 21     7.2
 22     8.0
 23     8.3
 24     8.8
 25     9.1
 26     9.6
 27     9.7
 28    10.4
 29    10.6
 Name: YearsExperience, dtype: float64,
 0      39344
 1      46206
 2      37732
 3      43526
 4      39892
 5      56643
 6      60151
 7      54446
 8      64446
 9      57190
 10     63219
 11     55795
 12     56958
 13     57082
 14     61112
 15     67939
 16     66030
 17     83089
 18     81364
 19     93941
 20     91739
 21     98274
 22    101303
 23    113813
 24    109432
 25    105583
 26    116970
 27    112636
 28    122392
 29    121873
 Name: Salary, dtype: int64)

In [13]:
# Handiling missing DAta

#from sklearn.preprocessing import Imputer
#imputer=imputer(missing_values='NaN',strategy="mean",axis=0)
#imputer imputer=iputer.fit[:.1:3]
#x[:,1:3]=imputer.transform(x[:,1:3])